<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Result</title>
  </head>
  <body>
    <h1>Hello <%= user.name %></h1>
    <h3>This is your result for exam of <%= data.examName %></h3>
    <table style="width: 100%; border-collapse: collapse">
      <tr>
        <td>Student name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>Exam name</td>
        <td> <%= data.examName %></td>
      </tr>
      <tr>
        <td>Start time</td>
        <td><%= data.startTime %></td>
      </tr>
      <tr>
        <td>End time</td>
        <td><%= data.endTime %></td>
      </tr>
      <tr>
        <td>Rank</td>
        <td><%=data.rank%></td>
      </tr>
      <tr>
        <td>Result</td>
        <td><%= data.score %>/<%= data.answers.length %></td>
      </tr>
    </table>
  </body>
</html>
